<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hgc.suts.volunteer.dao.mapper.VolunteerPrizesGrabMapper">

    <resultMap id="BaseResultMap" type="org.hgc.suts.volunteer.dao.entity.VolunteerPrizesGrabDO">
            <id property="id" column="id" />
            <result property="volunteerId" column="volunteer_id" />
            <result property="prizesId" column="prizes_id" />
            <result property="cdk" column="cdk" />
            <result property="receiveCount" column="receive_count" />
            <result property="validEndTime" column="valid_end_time" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="delFlag" column="del_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        id,volunteer_id,prizes_id,cdk,receive_count,valid_end_time,create_time,update_time,
        del_flag
    </sql>


</mapper>
